@charset 'UTF-08';

@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sarala:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
:root{
    --fonte1: 'Righteous', cursive;
    --fonte2: 'Sarala', sans-serif;
    --cor1: #FFF2EF;
    --cor2: #ECD6C4;
    --cor_botao: #2F2325;
    --cor_gradiente1:rgb(6, 58, 78);
    --cor_gradiente2: #36739b;
}
body{
    background-image:  linear-gradient(to right, var(--cor_gradiente2), var(--cor_gradiente1));
}
.cabecalho{
    display: flex;
    flex-direction: row;
    justify-content: space-between ;
    align-items: center;
    padding: 25px 90px;
}
.titulo{
    font-family: var(--fonte2);
    font-size: 1.8em;
    color: var(--cor1);
    font-weight: 400;
}
.cabecalho-menu{
    display: flex;
    gap: 32px;
}
.cabecalho-menu-item{
    font-family: var(--fonte2);
    color: var(--cor1);
    font-weight: 400;
    font-size: 18px;
}
.contents{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-top: 0.4px solid var(--cor1);
}
.main-content{
    height: 60vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    padding: 0 90px;
}
.saudacao{
    font-family: var(--fonte2);
    font-weight: 400;
    font-size: 1.3em;
    color: rgba(36, 35, 35, 0.945)
}
.main-description{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.main-title{
    font-family: var(--fonte1);
    font-weight: 400;
    font-size: 3.3em;
    color: var(--cor1);
}

.main-subtitle{
    font-family: var(--fonte2);
    font-weight: 400;
    font-size: 2em;
    color: rgba(36, 35, 35, 0.945)
}
.btn{
    display: flex;
    gap: 30px;
    padding-top: 20px;
}
.main-btn{
    background-color: transparent;
    border: 2px solid rgba(36, 35, 35, 0.945);
    padding: 5px 30px;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-family: var(--fonte2);
    font-size: 16px;
    color: var(--cor_botao);
    cursor: pointer;
}
.main-btn:hover{
    background-color: var(--cor_gradiente2);
    color: var(--cor1);
}
.img-principal{
    height: 320px
}

.portifolio{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0 90px;
}

.portifolio h3{
    font-family: var(--fonte2);
    font-weight: 400;
    font-size: 1.8em;
    color: rgba(36, 35, 35, 0.945);
    padding-bottom: 20px;
}

.link{
    display: flex;
    gap: 80px;
    list-style: none;
}

ul li{
   list-style: none;
   padding: 10px 0;
}

li a {
    font-family: var(--fonte2);
    text-decoration: none;
    color: white;
}


.rodape{
    padding: 10px;
    border-top: 0.4px solid var(--cor1);
}
.rodape-nome{
    font-family: var(--fonte2);
    font-weight: 300;
    font-size: 15px;
    color: var(--cor1);
    text-align: center;
}