@charset "UTF-08";

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


:root{
    --fonte1: 'Oswald', sans-serif;
    --fonte2: 'Poppins', sans-serif;
    --cor1: #FFFFFF;
    --cor2: #000000;
    --cor3: #00BDDA;
    --cor4: #008EA4;
}

*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

.corpo-site{
    font-size: 100%;
    background-color: var(--cor3);
}

.cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-top: 10px;
}

.cabecalho-logo{
    display: flex;
    align-items: center;
    gap: 0.2em;
   
}

.cabecalho-imagem-logo{
    height: 70px;
}

.cabecalho-nome-logo{
    font-family: var(--fonte1);
    font-weight: 700;
    font-size: 3em;
    font-variant: small-caps;
}

.cabecalho-menu{
    padding-top: 1.2em;
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.cabecalho-menu-item{
    font-family: var(--fonte2);
    font-weight: 700;
    font-size: 1.2em;
    text-decoration: none;
    color: var(--cor2);
}

.cabecalho-menu-item:hover{
    color: var(--cor1);
}

.botao-menu{
    margin-bottom: 13px;
    width: 100px;
    height: 35px;
    border-radius: 10px;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
}

.botao-menu:hover{
    background-color: var(--cor4);
    color: var(--cor1);
}

.conteudo-principal{
    display: flex;
    flex-direction: row;
    justify-content:space-around; 
}

.conteudo-principal-primario{
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding-top: 70px;
}

.imagem-principal{
    padding-top: 35px;
    height: 570px ;
}

.conteudo-titulo{
    color: var(--cor1);
    font-family: var(--fonte1);
    font-size: 70px;
    font-weight: 500;
    line-height: 1.2;
}

.conteudo-descricao{
    font-family: var(--fonte2);
    font-weight: 600;
    color: var(--cor2);
    font-size: 19px;
    line-height: 1.8;
    width: 700px;
}

.botao-principal{
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
}

.botao-baixar-app{
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    width: 230px;
    height: 60px;
    background-color: var(--cor2);
    border-radius: 10px;
}

.nome-botao{
    font-family: var(--fonte2);
    color: var(--cor1);
    text-transform: uppercase;
    font-size: 20px;
    padding-right: 20px;

}

.icone-botao{
    width: 25px;
}

.botao-baixar-app:hover{
    background-color: var(--cor4);
}

.classificar-app{
    display: flex;
    flex-direction: row;
    gap: 70px;
    
}

.numero-classificacao{
    font-family: var(--fonte2);
    font-size: 25px;
    font-weight: 600;
}

.icone-botao{
    padding-bottom: 6px;
    width: 27px;
}

.imagem-estrela{
    position: relative;
    left: 20px;
    top: 2px;
    width: 155px;
}

.msg{
    text-align: center;
    background-color: var(--cor1);
    padding: 5px;
    font-family: var(--fonte2);
    font-size: 18px;
    color: var(--cor2);
    font-weight: 700;
}